$defaultColor: #6d7278;
$fancyBlue: #1191ff;

p {
  color: $defaultColor;
}

.divider,
.divider-lg,
.divider-sm {
  background-color: #b1afaf;
  width: 2px;
}

.divider-sm {
  height: 15px;
}

.divider-lg {
  height: 20px;
  width: 2.5px;
}

.home {
  margin-bottom: 500px;
}

a {
  text-decoration: none !important;
  color: #2c3e50 !important;
}

.top {
  border-bottom: 1px dashed #c4c4c4;
  position: relative;
  z-index: 2;

  .col-4 {
    padding: 0px;
  }

  .red-container {
    background-color: #ff5555;
    padding: 12px 20px;
    color: #fff;
    width: 150px;
    text-align: center;
    h6 {
      margin: 0px;
    }
  }

  p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }

  .social-logo {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

  @media screen and (max-width: 458px) {
    h6 {
      font-size: 14px;
    }
  }
}

.middle {
  padding: 20px 0px;
  .display-4 {
    font-size: 40px !important;
    font-weight: 600;
  }
  .banner {
    background-color: #2a3a47;
    height: 100px;
    border-radius: 5px;
  }
  img {
    width: 100px;
    height: auto;
    color: blue;
  }

  @media screen and (max-width: 770px) {
    .display-4 {
      margin-left: 32px !important;
    }
  }

  @media screen and (max-width: 600px) {
    .display-4 {
      font-size: 32px !important;
    }
  }

  @media screen and (max-width: 528px) {
    .display-4 {
      margin-left: 0px;
    }
    img {
      width: 50px;
    }
    .col-lg-8 {
      padding: 0px;
    }
  }

  @media screen and (max-width: 452px) {
    .display-4 {
      font-size: 28px !important;
    }
  }
}

.navbar {
  z-index: 2;
  background-color: #fafafa;

  .mNav {
    a {
      text-align: center;
      display: block;
      width: 100px;
      padding: 10px 20px 10px;
      margin-right: 5px;
      text-decoration: none;
      color: $defaultColor;
      font-weight: 500;
    }
    a:hover {
      background-color: #e7e7e7;
      transition: 0.4s all;
    }
    p {
      margin: 0px;
      padding: 0px;
    }
  }
  .col-8 {
    padding: 0px;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .weather {
    img {
      width: 40px;
      height: 40px;
    }
    .location {
      font-size: 12px;
      font-weight: 500;
      color: $defaultColor;
    }
  }

  .title {
    img {
      width: 100px;
      height: auto;
      color: blue;
    }
  }

  .display-4 {
    font-weight: bold !important;
  }

  @media screen and (max-width: 768px) {
    padding: 10px 0px !important;
    .display-4 {
      font-size: 32px !important;
    }

    .title {
      img {
        width: 50px;
      }
    }

    .container {
      padding: 0 !important;
    }
  }

  @media screen and (max-width: 528px) {
    .display-4 {
      margin-left: 0px;
    }
    .title {
      img {
        width: 50px;
      }
    }
    .col-lg-8 {
      padding: 0px;
    }
  }

  @media screen and (max-width: 452px) {
    .display-4 {
      font-size: 28px !important;
    }
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(139, 139, 139, 0.452);
  z-index: 1;

  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: #da3d8b;
    background-color: #fff;
  }

  .links {
    margin-top: 140px;
  }

  a {
    text-align: center;
    display: block;
    width: 100px;
    padding: 10px 20px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: $defaultColor;
    font-weight: 500;
  }

  a:hover {
    background-color: #e7e7e7;
    transition: 0.4s all;
  }

  button {
    margin-left: 20px;
    padding: 10px 25px;
    width: 150px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    img {
      width: 23px;
      height: auto;
    }
  }

  .btns {
    position: absolute;
    bottom: 20px;
  }
}

.menu {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 18px;
  // z-index: 2;

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 3px;
    background-color: #18222b;
    margin: 6px 0;
    transition: 0.4s;
  }
}

.yes-display {
  display: block;
}

.menu-change {
  right: 20px;

  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-7px, -5px);
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  transition: 0.7s;
  width: 100%;
  background-color: #18222b !important;

  .menu {
    .bar1,
    .bar2,
    .bar3 {
      background-color: #fff;
    }
  }

  .title {
    display: block !important;
    .display-4 {
      color: #fff;
    }
  }

  a {
    color: #fff !important;
  }

  a:hover {
    color: #18222b !important;
  }

  .value {
    color: #fff !important;
  }

  .location {
    color: #fff !important;
  }
}

.interesting {
  padding-top: 30px;

  .carousel {
    padding: 0px 40px;
  }

  .carousel,
  .carousel-item {
    height: 80px !important;
  }

  .fas {
    color: black;
  }

  #interestingCarousel-lg,
  #interestingCarousel-md {
    .carousel-control-prev,
    .carousel-control-next {
      width: 40px !important;
      background-color: #fff;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
      background-color: $fancyBlue;
      transition: 0.4s all;
    }

    .carousel-control-next:hover .fas {
      color: #fff;
    }

    .carousel-control-prev:hover .fas {
      color: #fff;
    }
  }

  #interestingCarousel-sm {
    padding: 0px;
  }
}

.interesting-item {
  cursor: pointer;

  :hover h6 {
    color: $fancyBlue;
    transition: 0.4s;
  }

  :hover .img-container {
    transition: 0.4s all;
    transform: scale(1.05);
  }

  p {
    font-size: 12px;
  }

  .img-container {
    height: 100px;
    width: 100%;
  }

  h6 {
    font-weight: bold;
  }

  @media screen and (max-width: 450px) {
    h6 {
      font-size: 14px;
    }
  }
}

.video-news {
  margin-top: 50px;
  .img-container {
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
    background-size: cover;

    @media only screen and (max-width: 600px) {
      height: 300px;
    }
  }

  .carousel {
    height: 60px !important;
    padding: 0px 40px;
    cursor: pointer;
  }

  .carousel-item {
    height: 60px !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 40px !important;
    background-color: #fff;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: $fancyBlue;
    transition: 0.4s all;
  }

  .fas {
    color: black;
  }

  .carousel-control-next:hover .fas {
    color: #fff;
  }

  .carousel-control-prev:hover .fas {
    color: #fff;
  }

  @media screen and (max-width: 500px) {
    .carousel {
      padding: 0px;
    }
  }
}

.landing-side {
  margin-top: 50px;
  border-bottom: 1px solid;
  .col-4 {
    margin: 0px;
    padding: 0px;
  }
  .mBtn {
    padding: 10px 20px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 0px 5px;
    cursor: pointer;
    box-shadow: 5px 5px 30px 10px #e7e7e7;
  }

  .mBtn:hover {
    background-color: $fancyBlue;
    color: #fff;
  }
}

.landing-side-item {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #c4c4c4;
  cursor: pointer;

  .img {
    margin-top: 7px;
    background-position: center;
  }

  :hover h6 {
    color: $fancyBlue;
    transition: 0.4s;
  }

  // :hover img {
  //   transition: 0.4s;
  //   transform: scale(1.05);
  // }

  p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .type {
    color: $fancyBlue;
  }

  h6 {
    font-weight: 600;
  }

  .d-flex {
    margin-top: 10px !important;
  }
}

.landing-slide-item-last {
  border-bottom: none;
}

.featured-news {
  padding-top: 70px;

  h3 {
    font-weight: 600;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 8% !important;
  }
}

.featured-item {
  margin-top: 20px;
  cursor: pointer;

  .img-container {
    position: relative;
    height: 400px;
    // padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 10px 20px;
    height: 110px;
  }

  p {
    font-size: 12px;
    color: #fff;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
  }
}

.trending-news {
  padding-top: 50px;

  .row {
    margin-top: 15px;
  }

  h3 {
    font-weight: 600;
  }

  h4 {
    font-size: 22px;
    font-weight: 600;
  }

  .top-section {
    border-bottom: 1px dashed #c4c4c4;
    padding-bottom: 15px;
  }

  .most-views {
    h4 {
      margin-bottom: 30px;
    }
  }
}

.trending-news-item {
  cursor: pointer;

  .img-container {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .d-flex {
    margin-top: 20px;
  }

  .type {
    font-weight: bold;
    color: $fancyBlue;
  }

  h4 {
    font-weight: 600;
  }
}

.trending-news-item:hover h4 {
  color: $fancyBlue;
  transition: 0.4s;
}

.stacked-news {
  margin-top: 300px;

  .main-container {
    height: 500px;
    background-color: #18222b;
    position: relative;

    @media screen and (max-width: 768px) {
      margin-bottom: 100px;
      margin-top: 100px;
    }
  }

  .content {
    position: absolute;
    bottom: 80px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 110px;
  }
}

.image-video-news {
  width: 100%;
  position: absolute;
  top: -240px;

  @media screen and (max-width: 768px) {
    top: -70px;
  }

  .container {
    background-color: #fff;
    padding: 30px 0px 30px 30px;

    @media screen and (max-width: 768px) {
      padding: 0px;
      padding-left: 30px;
      background-color: transparent;
    }
  }

  .row {
    width: 100%;
  }

  .img-container {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
      height: 300px;
    }
  }
}

.entertainment-news {
  padding-top: 70px;

  h3 {
    font-weight: 600;
  }
}

.sports-news {
  padding-top: 70px;

  h3 {
    font-weight: 600;
  }
}

.business-news {
  padding-top: 80px;

  h3,
  h4 {
    font-weight: 600;
  }

  h4 {
    margin-bottom: 10px;
  }

  .img-container {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.business-news-item {
  margin-top: 20px;

  .type {
    font-weight: bold;
    color: $fancyBlue;
  }

  h4 {
    cursor: pointer;
    font-weight: 600;
  }

  h4:hover {
    color: $fancyBlue;
    transition: 0.4s;
  }
}

.most-share-item {
  margin-top: 5px;
  cursor: pointer;

  .number {
    position: relative;
    border-radius: 50%;
    padding: 30px;
    background-color: #eeeeee;
    width: 60px;
    height: 60px;
  }

  h4 {
    position: absolute;
    top: 50;
    bottom: 50;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: #b1b1b1;
  }

  p {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .type {
    font-weight: bold;
    color: $fancyBlue;
  }

  :hover h6 {
    color: $fancyBlue;
    transition: 0.4s;
  }

  .col-9 {
    border-bottom: 1px dashed #c4c4c4;
    padding: 0px;
    padding-bottom: 5px;
  }
}
